NUXT_PUBLIC_SITE_URL=https://fic.uniplatforms.uz
NUXT_PUBLIC_IMAGE_BASE_URL=https://fics.uz
NUXT_API_BASE_URL=https://fic.uniplatforms.uz/api/api/v1
NUXT_API_BASE_URL_ASSETS=https://fic.uniplatforms.uz/api/
PORT=4048
